[Desktop Entry]
ServiceTypes=KonqPopupMenu/Plugin,media/audiocd
Actions=Extract;
X-KDE-Priority=TopLevel
Encoding=UTF-8
Name=KAudioCreator-Extract
Name[bg]=KAudioCreator-извличане
Name[csb]=KAudioCreator-Zgriwôcz
Name[es]=KAudioCreator-Extraer
Name[et]=KAudioCreator - ekstraktimine
Name[fr]=KAudioCreator-Extracteur
Name[gl]=KAudioCreator-Extractor
Name[km]=KAudioCreator-ស្រង់​ចេញ
Name[lv]=KAudioCreator - izvilkt
Name[nds]=Ruttrecker KAudioCreator
Name[pl]=KAudioCreator-Zgraj
Name[pt]=KAudioCreator-Extracção
Name[pt_BR]=KAudioCreator-Extração
Name[ro]=KAudioCreator-Extragere
Name[sv]=Kaudiocreator hämtning
Name[tr]=KAudioCreator-Aç
Name[x-test]=xxKAudioCreator-Extractxx
Type=Service

[Desktop Action Extract]
Name=Extract and Encode Audio Tracks
Name[bg]=Извличане и кодиране на аудио записи
Name[csb]=Zgriwô ë kòdujë sztëcczi aùdio
Name[de]=Musikstücke auslesen und kodieren
Name[el]=Εξαγωγή και κωδικοποίηση κομματιών ήχου
Name[es]=Extraer y codificar pistas de audio
Name[et]=Heliradade ekstraktimine ja kodeerimine
Name[fr]=Extraire et encoder des pistes audios
Name[ga]=Rianta Fuaime á mBaint Amach agus á nIonchódú
Name[gl]=Extrai e codifica pistas de audio
Name[ja]=オーディオトラックのリッピングとエンコード
Name[km]=ស្រង់ចេញ និង​អ៊ិនកូដ​បទ​អូឌីយ៉ូ
Name[lt]=Audio takelių išgavimas ir įkodavimas
Name[lv]=Izvilkt un kodēt audio celiņus
Name[nds]=Ruttrecken un Koderen vun Audiostücken
Name[nl]=Audiotracks uitlezen en coderen
Name[pl]=Zgraj i koduj utwory audio
Name[pt]=Extrair e Codificar Faixas de Áudio
Name[pt_BR]=Extrair e Codificar Faixas de Áudio
Name[ro]=Extragere și codificare piste audio
Name[sv]=Hämta och koda ljudspår
Name[tr]=Ses İzlerini Aç ve Kodla
Name[uk]=Витягнути і закодувати аудіо-доріжки
Name[x-test]=xxExtract and Encode Audio Tracksxx
Name[zh_CN]=抓取和编码音频音轨
Exec=kaudiocreator %u
Icon=kaudiocreator
