[Desktop Entry]
ServiceTypes=KonqPopupMenu/Plugin,media/audiocd
Actions=Extract;
X-KDE-Priority=TopLevel
Encoding=UTF-8
Name=KAudioCreator-Extract
Name[ast]=KAudioCreator-Extract
Name[be]=KAudioCreator-Extract
Name[bg]=KAudioCreator-извличане
Name[bs]=K‑audio-stvaralac — čupanje
Name[ca]=KAudioCreator-Extreu
Name[ca@valencia]=KAudioCreator-Extreu
Name[cs]=KAudioCreator-Extrahovat
Name[csb]=KAudioCreator-Zgriwôcz
Name[da]=KAudioCreator-Extract
Name[de]=KAudioCreator-Extract
Name[el]=KAudioCreator-Extract
Name[en_GB]=KAudioCreator-Extract
Name[es]=KAudioCreator-Extraer
Name[et]=KAudioCreator - ekstraktimine
Name[eu]=KAudioCreator-Erauzlea
Name[fi]=KAudioCreator-Extract
Name[fr]=KAudiocreator - Extracteur
Name[ga]=KAudioCreator-Extract
Name[gl]=KAudioCreator-Extractor
Name[hne]=के-आडियो-क्रिएटर-एक्सट्रैक्ट
Name[hu]=KAudioCreator-Kitömörítés
Name[it]=KAudioCreator-Estrazione
Name[ja]=KAudioCreator-Extract
Name[km]=KAudioCreator-ស្រង់​ចេញ
Name[ko]=KAudioCreator-추출
Name[lt]=KAudioCreator-Ištraukimas
Name[lv]=KAudioCreator - izvilkt
Name[mr]=के-ऑडियो-क्रिएटर-एक्सट्रेक्ट
Name[nb]=KAudioCreator-Extract
Name[nds]=Ruttrecker KAudioCreator
Name[nl]=KAudioCreator-Extract
Name[pa]=ਕੇ-ਆਡੀਓ-ਕਰੀਏਟਰ-ਐਕਸਟਰੈਕਟ
Name[pl]=KAudioCreator-Zgraj
Name[pt]=KAudioCreator-Extracção
Name[pt_BR]=KAudioCreator-Extração
Name[ro]=KAudioCreator-Extragere
Name[ru]=KAudioCreator-Извлечь
Name[sk]=KAudioCreator-Extract
Name[sl]=KAudioCreator - pretvori
Name[sr]=К‑аудио-стваралац — чупање
Name[sr@ijekavian]=К‑аудио-стваралац — чупање
Name[sr@ijekavianlatin]=K‑audio-stvaralac — čupanje
Name[sr@latin]=K‑audio-stvaralac — čupanje
Name[sv]=Kaudiocreator hämtning
Name[th]=KAudioCreator-Extract
Name[tr]=KAudioCreator-Dönüştür
Name[uk]=KAudioCreator-Extract
Name[x-test]=xxKAudioCreator-Extractxx
Name[zh_CN]=KAudioCreator-Extract
Name[zh_TW]=KAudioCreator-Extract
Type=Service

[Desktop Action Extract]
Name=Extract and Encode Audio Tracks
Name[ast]=Estrayer y codificar pistes d'audiu
Name[bg]=Извличане и кодиране на аудио записи
Name[bs]=Čupa i kodira audio staze
Name[ca]=Extreu i codifica pistes d'àudio
Name[ca@valencia]=Extreu i codifica pistes d'àudio
Name[cs]=Extrahujte a komprimujte audio stopy
Name[csb]=Zgriwô ë kòdujë sztëcczi aùdio
Name[da]=Ripning og indkodning af lydspor
Name[de]=Musikstücke auslesen und kodieren
Name[el]=Εξαγωγή και κωδικοποίηση κομματιών ήχου
Name[en_GB]=Extract and Encode Audio Tracks
Name[es]=Extraer y codificar pistas de audio
Name[et]=Heliradade ekstraktimine ja kodeerimine
Name[eu]=Erauzi eta kodetu audio-pistak
Name[fi]=Ääniraitojen purkaminen ja pakkaaminen
Name[fr]=Extraire et encoder des pistes audio
Name[ga]=Rianta Fuaime á mBaint Amach agus á nIonchódú
Name[gl]=Extrai e codifica pistas de audio
Name[hne]=आडियो ट्रैक्स एक्सट्रैक्ट करव अउ एनकोड करव
Name[hu]=Audió számok kitömörítése és kódolása
Name[it]=Estrai e codifica le tracce audio
Name[ja]=オーディオトラックのリッピングとエンコード
Name[km]=ស្រង់​ចេញ និង​អ៊ិនកូដ​បទ​អូឌីយ៉ូ
Name[ko]=오디오 트랙을 추출하고 인코딩하기
Name[lt]=Audio takelių išgavimas ir įkodavimas
Name[lv]=Izvilkt un kodēt audio celiņus
Name[mr]=ऑडिओ ट्रॅक्स एक्सट्रेक्ट व एन्कोड करा
Name[nb]=Trekk ut og kode lydspor
Name[nds]=Ruttrecken un Koderen vun Audiostücken
Name[nl]=Audiotracks uitlezen en coderen
Name[pa]=ਆਡੀਓ ਟਰੈਕ ਐਕਸਟਰੈਕਟ ਅਤੇ ਇੰਕੋਡ ਕਰੋ
Name[pl]=Zgraj i koduj utwory audio
Name[pt]=Extrair e Codificar Faixas de Áudio
Name[pt_BR]=Extrair e codificar faixas de áudio
Name[ro]=Extragere și codificare piste audio
Name[ru]=Извлечь и закодировать дорожки
Name[sk]=Extrahovať a kódovať audio stopy
Name[sl]=Pretvorite in kodirajte zvočne sledi
Name[sr]=Чупа и кодира аудио стазе
Name[sr@ijekavian]=Чупа и кодира аудио стазе
Name[sr@ijekavianlatin]=Čupa i kodira audio staze
Name[sr@latin]=Čupa i kodira audio staze
Name[sv]=Hämta och koda ljudspår
Name[th]=แตกข้อมูลและเข้ารหัสแทร็กเสียงต่าง ๆ
Name[tr]=Ses Parçalarını Dönüştür ve Kodla
Name[uk]=Витягнути і закодувати аудіодоріжки
Name[x-test]=xxExtract and Encode Audio Tracksxx
Name[zh_CN]=抓取和编码音频音轨
Name[zh_TW]=展開並編碼音軌
Exec=kaudiocreator %u
Icon=kaudiocreator
