[Desktop Entry]
Encoding=UTF-8
Comment=Frontend for audio file creation
Comment[fr]=Une interface pour la création de fichiers sons
Comment[x-test]=xxFrontend for audio file creationxx
Name=KAudioCreator
Name[x-test]=xxKAudioCreatorxx
GenericName=CD Ripper
GenericName[fr]=Extracteur de CD audio
GenericName[x-test]=xxCD Ripperxx
MimeType=
Exec=kaudiocreator
Icon=kaudiocreator
Path=
Type=Application
Terminal=false
Categories=Qt;KDE;AudioVideo;Audio;
