[Desktop Entry]
Comment=Frontend for audio file creation
Comment[af]=Voorprogram vir audio lêer skep
Comment[ar]=واجهة لإنشاء ملفات الصوت
Comment[bg]=Фронт за създаване на аудио-файл
Comment[bs]=Interfejs za pravljenje audio datoteka
Comment[ca]=Interfície per la creació de fitxers àudio
Comment[cs]=Rozhraní pro tvorbu zvukových souborů
Comment[da]=Grænseflade til at lave lydfiler
Comment[de]=Oberfläche zur Erstellung von Audio-Dateien
Comment[el]=Πρόσοψη για τη δημιουργία αρχείων ήχου
Comment[eo]=Fasado por kreado de sonordosieroj
Comment[es]=Un interfaz para la creación de archivos audio
Comment[et]=Rippimisprogrammide kasutajaliides
Comment[eu]=Audio fitxategiak sortzeko frontend-a
Comment[fi]=Käyttöliittymä äänitiedostojen luontiin
Comment[fr]=Une interface pour la création de fichiers sons
Comment[he]=ממשק ליצירת קבצי שמע
Comment[hr]=Sučelje za rađenje audio datoteka
Comment[hu]=Grafikus előtétprogram hangfájlok létrehozásához
Comment[it]=Interfaccia per la creazione dei file audio
Comment[ja]=オーディオファイル作成フロントエンド
Comment[lt]=Išorinė audio bylų kūrimo programa
Comment[lv]=Frontends audio failu veidošanai
Comment[nb]=Program for laging av lydfiler
Comment[nl]=Grafische schil voor aanmaken van geluidsbestanden
Comment[nn]=Grensesnitt for oppretting av lydfiler
Comment[pl]=Środowisko do tworzenia plików audio
Comment[pt]=Criação de ficheiro áudio
Comment[pt_BR]=Uma interface para a criação de arquivos de áudio
Comment[ro]=Interfaţă pentru crearea de fişiere audio
Comment[ru]=Интерфейс для создания аудио файлов
Comment[sk]=Rozhranie pre tvorbu zvukových súborov
Comment[sl]=Vmesnik za ustvarjanje zvočnih datotek
Comment[sv]=Gränssnitt för att skapa ljudfiler
Comment[th]=ฟรอนต์เอนด์สำหรับการสร้างแฟ้มเสียง
Comment[tr]=Ses dosyası oluşturmak için bir önyüz
Comment[uk]=Зовнішній інтерфейс створення аудіо-файлів
Comment[ven]=Zwo vhewa phanda uitela nyito ya faela ya zwipfiwa
Comment[zh_CN]=音频文件创建前端
Comment[zh_TW]=製作聲音檔案的前端
Comment[zu]=Isiqalo sesiphelo sokuzwakalayo kwefayela lokludala
Name=KAudioCreator
Name[ar]=منشئ صوت كيدي
Name[bg]=КЗвученCreator
Name[eo]=Sonorkreilo
Name[pl]=Kreator audio
Name[pt_BR]=Criação de Áudio
Name[sv]=Kaudiocreator
Name[ven]=MuitiwazwamibvumoyaK
GenericName=CD Ripper
GenericName[cs]=CD ripper
GenericName[da]=CD-Ripper
GenericName[es]=Extractor digital de CDs
GenericName[pt_BR]=Reprodutor de CDs/Ripar CDs
GenericName[sv]=Cd-lagring
MimeType=
Exec=kaudiocreator
Icon=kaudiocreator
TerminalOptions=
Path=
Type=Application
Terminal=0
Categories=Qt;KDE;AudioVideo
