[Desktop Entry]
Encoding=UTF-8
Comment=Frontend for audio file creation
Comment[bg]=Програма за създаване на аудио файлове
Comment[csb]=Programa do ùsôdzenia lopków aùdio
Comment[el]=Σύστημα υποστήριξης χρήστη για δημιουργία αρχείων ήχου
Comment[es]=Interfaz de usuario para creación de archivos de audio
Comment[et]=Helifailide loomise kasutajaliides
Comment[fr]=Interface pour la creation de fichiers audios
Comment[ga]=Comhéadan le haghaidh cruthaithe comhad fuaime
Comment[gl]=Interface para a criación de ficheiros de audio
Comment[ja]=オーディオファイル作成のフロントエンド
Comment[km]=កម្មវិធី​ខាងមុខ​សម្រាប់​ការ​បង្កើត​ឯកសារ​អូឌីយ៉ូ
Comment[lt]=Išorinė audio failų kūrimo programa
Comment[lv]=Priekšpuse audio failu izveidei
Comment[nds]=Böversiet för't Opstellen vun Klangdateien
Comment[nl]=Grafische schil voor het aanmaken van audiobestanden
Comment[pl]=Program do tworzenia plików dźwiękowych
Comment[pt]=Interface para a criação de ficheiros de áudio
Comment[pt_BR]=Interface para a criação de arquivos de áudio
Comment[ro]=Interfață pentru crearea fișierelor audio
Comment[sv]=Gränssnitt för att skapa ljudfiler
Comment[tr]=Ses dosyası oluşturma önyüzü
Comment[uk]=Клієнтська програма для створення звукових файлів
Comment[x-test]=xxFrontend for audio file creationxx
Comment[zh_CN]=音频文件创建的前端
Name=KAudioCreator
Name[ar]=منشئ الصوتيات ك
Name[hi]=के-ऑडियो-क्रिएटर
Name[sv]=Kaudiocreator
Name[x-test]=xxKAudioCreatorxx
GenericName=CD Ripper
GenericName[bg]=Извличане на CD
GenericName[csb]=Programa zgriwającô CD
GenericName[el]=Εξαγωγέας CD
GenericName[es]=Extracción de CD
GenericName[et]=CD rippija
GenericName[fr]=Extraction de CD
GenericName[ga]=Sracaire Dlúthdhioscaí
GenericName[gl]=Copiador de CD
GenericName[ja]=CD リッパー
GenericName[km]=កម្មវិធី​បម្លែង​ស៊ីឌី
GenericName[lt]=CD grotuvas/nurašymo priemonė
GenericName[lv]=CD izvilkšana
GenericName[nds]=CD-Utleser
GenericName[nl]=CD-ripper
GenericName[pl]=Program zgrywający CD
GenericName[pt]=Extractor de CDs
GenericName[pt_BR]=Ripador de CD
GenericName[ro]=Jupuitor de CD
GenericName[sv]=Cd-lagring
GenericName[tr]=CD 
GenericName[uk]=Видирання КД
GenericName[x-test]=xxCD Ripperxx
MimeType=
Exec=kaudiocreator
Icon=kaudiocreator
Path=
Type=Application
Terminal=false
Categories=Qt;KDE;AudioVideo;Audio;
